# Core functionality - changes here should be rare!
/src/app.py                   @mahdibenhocine
/src/backend/database.py      @mahdibenhocine
/src/backend/routers/auth.py  @mahdibenhocine

# The frontend will need refactored soon to be more object oriented.
/src/static/   @mahdibenhocine
